<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No</th>
      <th>Name Game</th>
      <th>Item</th>
      <th>Total Harga</th>
      <th>Status</th>
      <th>Nama Player</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i<transaction.length ; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td>
            <ul class="list-inline">
              <li class="list-inlinte-item">
                <img src="https://anang-storegg.herokuapp.com/<%= transaction[i].historyVoucherTopup?.thumbnail %>" alt="thumbnail" width="48px" height="48px">
              </li>
            </ul>
            <%= transaction[i].historyVoucherTopup?.gameName %>
            <br>
            <%= transaction[i]?.historyVoucherTopup?.category %>
          </td>
          <td>
            <%= transaction[i].historyVoucherTopup?.coinQuantity %>
            <%= transaction[i].historyVoucherTopup?.coinName %>
          </td>
          <td><%= transaction[i].value %></td>
          <td>
            <% if(transaction[i].status === 'pending') { %> 
              <span class="badge badge-warning">
                <%= transaction[i].status %>
              </span>
            <% } else if(transaction[i].status === 'success') { %>
              <span class="badge badge-success">
                <%= transaction[i].status %>
              </span>
            <%}else{ %> 
              <span class="badge badge-success">
                <%= transaction[i].status %>
              </span>              
            <%} %>
          </td>
          <td><%= transaction[i]?.player?.name ?? '-' %></td>
          <td class="row">
            &nbsp;
            <form action="/transaction/status/<%= transaction[i].id %>?status=success&_method=PUT" method="POST">
              <button class="btn btn-info">
                <i class="nav-icon fas fa-check"></i>
                Terima
              </button>
            </form>
            &nbsp;
            <form action="/transaction/status/<%= transaction[i].id %>?status=failed&_method=PUT" method="POST">
              <button class="btn btn-danger">
                <i class="nav-icon fas fa-times-circle"></i>
                Tolak
              </button>
            </form>
          </td>
        </tr>
      <%}%>
    </tbody>
  </table>